body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #36160C;

}
/*navigation bar*/
nav{
  width:100%;
  overflow:hidden;
  position: fixed;
  top: 0;
  background-color: #36160C;
}
.top_left_word{
  display: inline-block;
  padding-left: 10px;
}
.nav_links{
  display: inline-block;
  right: 0;
  position: absolute;
  top: 20px;
}
nav a{
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 20px;
  margin-top: 0;
}
nav h3{
  color: white;

}
nav a:hover{
  color: #9F5842;
}
/*header*/
.header{
  background-image: url("images/headerpic.jpg");
  width: 100%;
  background-size: cover;
  height: 250px;
  object-fit: cover;
  text-align: center;
  margin: 0px;
}
.header h1{
  font-size: 150px;
  font-weight: bolder;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-top: 40px;
  color: #36160C;
}
.header p{
  font-size: 20px;
  padding: 50px;
  font-weight: bolder;
  background-color: #9F5842;
  color: #36160C;
}
.content_container_media{
  width: 80%;
  background-color: white;
  margin: auto;
  padding: 30px;
}
.trope1_pics img{
  height: 200px;
  width: 300px;
  object-fit: cover;
  padding: 10px;
  display: inline-block;
}
.trope2_pics img{
  height: 300px;
  width: 350px;
  object-fit: contain;
  padding:10px;
  display: inline-block;
}
.trope3_pics img{
  height: 200px;
  width: 300px;
  object-fit: cover;
  padding:10px;
  display: inline-block;
}
.trope4_pics, .trope1_pics,
.trope2_pics,.trope5_pics, .trope3_pics{
  text-align: center;
}
.trope4_pics img{
  height: 200px;
  width: 300px;
  object-fit: cover;
  padding:10px;
  display: inline-block;
}
.trope5_pics img{
  height: 200px;
  width: 400px;
  padding:10px;
  display: inline-block;
}
.explan_txt{
  text-align: justify;
}
